<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
 <rule name="Default Document" stopProcessing="true"> 
          <match url="(.*)default.aspx" /> 
          <action type="Redirect" url="{R:1}" redirectType="Permanent" /> 
        </rule>
 <system.webServer> 
    <rewrite>
        <rules>
            <rule name="RewriteHTML">
                <match url="(.*)" />
                <conditions logicalGrouping="MatchAll">
                    <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                </conditions>
                <action type="Rewrite" url="{R:1}.html" />
            </rule>
        </rules>
    </rewrite>
  </system.webServer> 
</configuration>